<div class="links">
    <section>
        <img class="wells" src="assets/img/WELLS.jpeg" alt="WELLS CBS">
    </section>
    <section>
        <div class="centered">
            <img src="assets/img/R1.svg" alt="" class="rotative">
            <img src="assets/icons/spotify-B.svg" alt="" class="icon">
        </div>
    </section>
    <section>
        <div class="centered-2">
            <img src="assets/img/R3.svg" alt="" class="rotative">
            <img src="assets/icons/reddit-B.svg" alt="" class="icon">
        </div>
    </section>
    <section>
        <div class="centered">
            <img src="assets/img/R4.svg" alt="" class="rotative">
            <img src="assets/icons/twitch-B.svg" alt="" class="icon">
        </div>
    </section>
    <section>
        <div class="centered-2">
            <img src="assets/img/R2.svg" alt="" class="rotative">
            <img src="assets/icons/twitter-B.svg" alt="" class="icon">
        </div>
    </section>
</div>
