<div class="con">
    <h2>Manifesto</h2>
    <p>
        Este manifiesto no solo es un ataque a los medios tradicionales de elaboración de los alimentos, es una clara y evidente propuesta de modificar el sistema de producción ancestral, establecido hace más de 200 años. Lo evidente es que el mundo cambia, más
        no la humanidad. Para cambiar hay que cambiar el sistema. Cambiar los sistemas puede ser un largo propósito.
    </p>

    <p>
        Este manifiesto va dirigido a la raza humana, a los robots y a algunas otras especies más (están entre nosotros). Esto no es solo una lluvia de excelentes y brillantes ideas. Es un mapa, es un camino, no estará a la altura del “El manifiesto comunista”,
        “Tengo un sueño” o “Un hombre en la luna”, sin embargo en este si podemos participar todos y lo más importante, en este si podemos confiar.
    </p>

    <p>
        Los preceptos (ideal práctico que te va a modificar el pensamiento).
    </p>
    <ul>
        <li>
            Sustainable is effortless.
        </li>
        <li>
            Tasty is effortless.
        </li>
        <li>
            Hay formas de hacer lo que amamos sin destruir el planeta.
        </li>
        <li>
            En el futuro todos los robots van a saber bailar. (No es parte de nuestro propósito pero teníamos que decirlo).
        </li>


    </ul>

    <h3>
        Sustainable is effortless
    </h3>

    <p>
        A partir de hoy todos investiguemos y todos innovemos. -Mmmm, ahhhh, No. Ya existe investigación y ya existe innovación. Ok, debes de pagar más caro porque es sustentable, o que lo absorba la empresa, o un subsidio. -Mmm, tampoco, ya existen modelos de
        negocio que en su mayoría sólo implican cambios de roles en las funciones que tenemos compañías-sellers-consumidores y modificaciones a la logística.


    </p>
    <p>Preferimos:</p>


    <ul>
        <li>Etiquetas de circularity</li>
        <li>Social innovation</li>
        <li>Materials flow management</li>
        <li>Industrial symbiosis</li>
        <li>Eco-design</li>
    </ul>
    <h3>Tasty is effortless</h3>
    <p>
        Lo bonito sabe más rico. De donde sacaron esa idea??!!! la tenemos que borrar ya!, Epicfarmers se va a concentrar en el sabor, en entregar productos deliciosos de buen origen. ¿Cómo definiremos buen origen? De dónde viene el producto y de dónde vienen
        las ideas.
    </p>

    <p>Preferimos:</p>
    <ul>
        <li>No perfect food</li>
        <li>Crecimiento natural de los ingredientes</li>
        <li>Te vamos a escuchar. (ok, eso sonó algo scary and creepy), pero recuerda que vamos a usar data.</li>
    </ul>

    <h3>Hay formas de hacer lo que amamos sin destruir el planeta</h3>


    <ul>
        <li>Construiremos una plataforma colaborativa</li>
        <li>Nuestros esfuerzos serán visibles a través de un Roadmap público.</li>
        <li>Implementaremos lo más que podamos de programas verdes.</li>
    </ul>
    <h3>En el futuro todos los robots van a saber bailar</h3>
    <p>
        Las estrellas bailan, los planetas bailan, los animales bailan (ciertamente no lo sé), sin embargo lo primero que entendió la inteligencia artificial de esta generación fué a reconocer los gatos y la importancia de ellos en la vida de los humanos por
        sobre los perros. Ahora el desarrollo está orientado a que la inteligencia tenga un cuerpo robótico, ahora como en esta última generación de humanos todos bailan, seguro van a aprender a bailar. Bueno de esto ya hablaremos en el podcast. ¡Sí,
        hay un podcast!


    </p>

</div>