<div class="manifesto">
    <section>
        <p class="kings">
            For people (informed people) who believe (has realized) snacking in a sustainable and tasty way should be effortless. EpicFarmers is a foodtech company (we've got a super computer) that uses AI technology (discovered a software) to create sustainable
            products in a mission to reduce waste.We are growing motivated by change and purpose (in our secret manifesto). Click here to find out about the manifesto.
        </p>
    </section>
    <section class="cp">
        <img src="assets/img/cp.png" alt="Super CP">
    </section>
</div>
