<div class="notes">
    <!-- <section>
        <swiper class="img--detalle" [loop]="true" [autoHeight]="true" [autoplay]="{ delay: 3000, disableOnInteraction: false }" [pagination]="{ clickable: true }" [navigation]="true">

            <ng-template swiperSlide class="swiper-slide">
                <img src="assets/img/Paper.png" alt="imagen" class="img--detalle">
            </ng-template>
            <ng-template swiperSlide class="swiper-slide">
                <img src="assets/img/Paper.png" alt="imagen" class="img--detalle">
            </ng-template>
            <ng-template swiperSlide class="swiper-slide">
                <img src="assets/img/Paper.png" alt="imagen" class="img--detalle">
            </ng-template>
            <ng-template swiperSlide class="swiper-slide">
                <img src="assets/img/Paper.png" alt="imagen" class="img--detalle">
            </ng-template>
            <ng-template swiperSlide class="swiper-slide">
                <img src="assets/img/Paper.png" alt="imagen" class="img--detalle">
            </ng-template>
        </swiper>
    </section>
    <section class="reference">
        <div class="manifesto">M A N I F E S T O · M A N I F E S T O</div>
    </section> -->
</div>
