.principes {
    height: 500px;
    width: 100%;
    background-color: fuchsia;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    line-height: 25px;
    h2,
    h1,
    h3 {
        font-family: 'Special Elite', cursive;
        text-align: center;
    }
    .paper {
        height: 350px;
        width: 800px;
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 20px;
        padding: 20px;
    }
}
