<div class="principes">
    <div class="paper">
        <h1>Principes </h1><br>
        <h2>We Are What We Eat.</h2>
        We are on a mission to create more sustainable delicious foods. <br> We believe that snacking in a sustainable way should be effortless and tasty. <br> We believe in harnessing the power of technology to increase efficiency, reduce waste and improve
        our relationship with planet earth. <br> We believe in science.<br> We value experimentation. <br> We believe that failure is part of the experimentation process. <br> We believe that we can imagine and create better snacks.<br> We value a data-driven
        gut.
    </div>
</div>
