<div class="challenge">
    <section>
        <div class="mov-text">
            <section class="rel-box">
                <div class="text-1">
                    <p>SNACKING IS SUSTAINABLE SNACKING IS SUSTAINABLE</p>
                </div>
            </section>
            <section class="rel-box">
                <div class="anti-text-1">
                    <p>TASTY IS EFFORTLES TASTY IS EFFORTLES</p>
                </div>
            </section>
            <section class="rel-box">
                <div class="text-2">
                    <p>MOTIVADED BY CHANGE MOTIVADED BY CHANGE</p>
                </div>
            </section>
            <section class="rel-box">
                <div class="anti-text-2">
                    <p>NO CONSPIRACY NO CONSPIRACY NO CONSPIRACY</p>
                </div>
            </section>
            <img src="assets/img/moon.png" class="img-bgrnd">


        </div>

    </section>
    <section>
        <span class="rigth-text">
      <div class="title">
        The challenge
      </div>

      <div class="sub-title"> [sustainable + tasty]</div>
      <p>To Create Snacks with less waste. This story begins with GUBS, Our chips family.</p>
    </span>
    </section>
</div>
