@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Special+Elite&display=swap');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: kingthings, "Helvetica Neue", sans-serif;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
