<div class="main-menu">
    <ul>
        <li>

            <a [routerLink]="['manifesto']">
              Manifesto
            </a>
        </li>
        <li>
            <a [routerLink]="['brands']">Brands</a>
        </li>
        <li>
            <a [routerLink]="['roadmaps']">Roadmaps</a>
        </li>
        <li>
            <a [routerLink]="['culture']">Our culture</a>
        </li>
        <li>
            <a [routerLink]="['conspiracies']">Conspiracies</a>
        </li>

    </ul>
</div>
